<form [formGroup]="form2" (ngSubmit)="submit()">
  
    <div class="form-group">
        <label for="title">Title:</label>
        <input 
            formControlName="title"
            id="title" 
            type="text" 
            class="form-control">
        <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
            <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea 
            formControlName="body"
            id="body" 
            type="text" 
            class="form-control">
        </textarea>
        <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
            <div *ngIf="f['body'].errors && f['body'].errors['required']">Body is required.</div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form2.valid">Submit</button>
</form>

<div>-------------------------</div>



<div>Gender</div>
<div >
    <input id="male" type="radio" value="male" name="gender" [(ngModel)]="gender">
    <label for="male">Male</label>
 </div>
 <div >
    <input id="female" type="radio" value="female" name="gender"  [(ngModel)]="gender">
    <label for="female">Female</label>
 </div>
<br/>
<input type="text" [(ngModel)]="post"/>
<br>
<button (click)="addPost()">Add Post</button>
<br>

<div *ngFor="let a of postList">
<p>{{a.gender}} {{a.post}}</p>
</div>
<!-- Post value: {{postList}} -->

