<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" [(ngModel)] = "text" placeholder="Add Task"/>
    </div>
    <div class="form-control">
        <label for="day">Day</label>
        <input type="text" name="day" id="day" [(ngModel)] = "day" placeholder="Add Day & Time"/>
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input 
          type="checkbox" 
          name="reminder" 
          [(ngModel)] = "reminder" 
          id="reminder" />
    </div>

    <div class="form-control form-control-check">
        <span class="down" (click)='decreaseCount()'>-</span>
        <input type="number"
               name="value" 
               [(ngModel)]="value">
        <span class="up" (click)='increaseCount()'>+</span>
      </div>
    
    <input type="submit" value="Save Task" class="btn btn-block" />
</form>
